/* General Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Sidebar */
.container {
    display: flex;
    width: 100%;
    flex-direction:row;
}

/* Sidebar Styles */
.sidebar {
    width: 80px;
    background-color: #5B5B5B;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .logo {
    color: #ECE2C8;
    font-size: 24px;
    font-weight: bold;
}

.sidebar .nav-icons {
    margin-top: 40px;
}

.sidebar .nav-icons li {
    list-style: none;
    margin: 20px 0;
}

.sidebar .nav-icons li .icon {
    font-size: 24px;
    color: #ECE2C8;
}

/* Main Content Box */
.main-content {
    flex: 1;
    background-color: #E3DFD8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content-box {
    background-color: #DBD3C6;
    border-radius: 20px;
    padding: 40px;
    max-width: 1500px;
    width: 100%;
}

/* Text Styles in Main Content */
.welcome h1, .purpose h3 {
    font-size: 40px;
    color: #B2A6D6;
    margin-bottom: 10px;
    text-align: center;
}

.welcome h1 span, .purpose h3 {
    font-family: 'Georgia', serif;
    font-weight: bold;
}

.welcome p, .purpose p {
    font-size: 14px;
    color: #706F6F;
    margin-bottom: 20px;
    text-align: center;
}

/* Organizations Section */
.organizations {
    display: flex;
    flex-direction: column;
}

.organization {
    margin-bottom: 30px;
}

.organization h3 {
    font-size: 20px;
    color: #B2A6D6;
    margin-bottom: 10px;
}

.organization p {
    font-size: 14px;
    color: #706F6F;
}

.organization {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.org-image-container {
    width: 40%;
    margin-right: 20px;
}

.org-image-container img {
    width: 100%;
    border-radius: 8px;
}

.org-text {
    width: 55%;
}

.decorative-shape {
    width: 60px;
    height: 45px;
    background-color: #d8e498;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 40%;
}

.organization:nth-child(2) .org-text {
    text-align: right;
}

.organization:nth-child(2) .decorative-shape {
    left: 0;
    right: unset;
}

.organization:nth-child(2) .org-image-container {
    width: 40%;
    margin-right: 20px; /* Space between image and text */
    padding: 10px; /* Add padding */
}

.organization:nth-child(2) .org-image-container img {
    width: 100%; /* Make sure the image fills the container */
    border-radius: 8px;
}

.decorative-shape {
    width: 60px;
    height: 45px;
    background-color: #d8e498;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 40%;
}

/* Content Box Styling */
.content-box-text {
    background-color: #F4F0E8;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Calendar Styles */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

.wrapper {
    width: 450px;
    background: #867DC4;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(255, 255, 255, 0.495);
    margin: 0 auto;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #B2A6D6;
}

header .icons {
    display: flex;
}

header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #d9d9d9;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

header .icons span:hover {
    background: #f2f2f2;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

.calendar {
    padding: 20px;
    background-color: #9F97D2;
    border-radius: 10px;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.days li.inactive {
    color: #6f6b6b;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: #867DC4;
}

.days li:not(.active):hover::before {
    background: #867DC4;
}

/* Chatbot Styles */
#chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background: #867DC4;
    transition: all 0.2s ease;
}

body.show-chatbot #chatbot-toggler {
    transform: rotate(90deg);
}

#chatbot-toggler span {
    color: #fff;
    position: absolute;
}

body.show-chatbot #chatbot-toggler span:first-child,
#chatbot-toggler span:last-child {
    opacity: 0;
}

body.show-chatbot #chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot-popup {
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420px;
    background: #fff;
    overflow: hidden;
    border-radius: 15px;
    opacity: 0;
    transform: scale(0.2);
    transform-origin: bottom right;
    pointer-events: none;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
}

body.show-chatbot .chatbot-popup {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chat-header {
    display: flex;
    align-items: center;
    background: #867DC4;
    padding: 15px 22px;
    justify-content: space-between;
}

.chat-header .header-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-info .chatbot-logo {
    height: 35px;
    width: 35px;
    padding: 6px;
    fill: #867DC4;
    flex-shrink: 0;
    background: #fff;
    border-radius: 50%;
}

.header-info .logo-text {
    color: #fff;
    font-size: 1.31rem;
    font-weight: 600;
}

.chat-header #close-chatbot {
    border: none;
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 1.9rem;
    margin-right: -10px;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 50%;
    background: none;
    transition: 0.2s ease;
}

.chat-header #close-chatbot:hover {
    background: #867DC4;
}

.chat-body {
    padding: 25px 22px;
    display: flex;
    gap: 20px;
    height: 460px;
    margin-bottom: 82px;
    overflow-y: auto;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: #ccccf5 transparent;
}

.chat-body .message {
    display: flex;
    gap: 11px;
    align-items: center;
}

.chat-body .bot-message .bot-avatar {
    height: 35px;
    width: 35px;
    padding: 6px;
    fill: #fff;
    flex-shrink: 0;
    margin-bottom: 2px;
    align-self: flex-end;
    background: #867DC4;
    border-radius: 50%;
}

.chat-body .message-content {
    max-width: 315px;
    padding: 15px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}

.chat-body .bot-message .message-content {
    background: #f0f0f7;
    color: #5d5d5d;
}

.chat-body .user-message .message-content {
    background: #867DC4;
    color: #fff;
    align-self: flex-end;
}

.chat-body .message-content p {
    margin: 0;
}

.chat-body .message-content:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    top: 10px;
    right: -8px;
}

.chat-body .bot-message .message-content:before {
    border-color: transparent transparent #f0f0f7 transparent;
    border-width: 6px;
    border-radius: 10px;
}

.chat-body .user-message .message-content:before {
    border-color: transparent transparent #867DC4 transparent;
    border-width: 6px;
    border-radius: 10px;
}

/* Chat Input */
.chat-input {
    background: #F4F0E8;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 15px;
}

.chat-input textarea {
    background-color: #f0f0f7;
    width: 100%;
    padding: 13px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #5d5d5d;
    font-family: 'Rethink Sans', sans-serif;
    resize: none;
    overflow: hidden;
}

.chat-input textarea:focus {
    outline: none;
}

.chat-input button {
    background-color: #867DC4;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 12px 18px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}

.chat-input button:hover {
    background-color: #6a63a7;
}
